<li class="dropdown-submenu">
  <a href="#">2018 Spring Web Apps Section 01<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      
    <li class="dropdown-submenu">
      <a href="/about/t8">Team 8 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t8/a">Nithin Sallagonda</a></li>
        <li><a href="/about/t8/b">Vikram Reddy Kasireddy</a></li>
        <li><a href="/about/t8/c">Vyshnavi Yalamareddy</a></li>
      </ul>
    </li>
   
   
