<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Flights</h1>
      <br/>
      <h2>Use this area to display information. </h2>
      <br/>
      <hr>
      <h3>During development, test your api here.</h3>
      <br/>
      <br/>
      <h4>GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/plane">http://localhost:8089/flights</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/create">http://localhost:8089/flights/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/plane/edit/1">http://localhost:8089/flights/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/edit/2">http://localhost:8089/flights/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/edit/3">http://localhost:8089/flights/edit/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/plane/delete/1">http://localhost:8089/flights/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/delete/2">http://localhost:8089/flights/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/delete/3">http://localhost:8089/flights/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/plane/details/1">http://localhost:8089/flights/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/details/2">http://localhost:8089/flights/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/details/3">http://localhost:8089/flights/details/3</a>
        </li>

      </ol>
      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/plane/findall">http://localhost:8089/flights/findall</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/findone/1">http://localhost:8089/flights/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/findone/2">http://localhost:8089/flights/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/plane/findone/3">http://localhost:8089/flights/findone/3</a>
        </li>

      </ol>


    </div>
  </div>
</div>