<br/>
<br/>
<br/>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
		NITHIN SALLAGONDA
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="nithin.css">
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery-3.3.1.min.js"></script>
	</head>
<body class="container-fluid" >
  <div class="container">
	<div class="col-md-12">
		<img src="/ni.jfif" alt="Nithin" class="img-circle"  width="200" >
	  </div></div>

     <div class="col-md-12">
		
	<nav class="navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nithin Sallagonda</a>
	  </div>
    <ul class="nav navbar-nav">
        <!-- <li><a href="nithin.html">Home</a></li> 
       <li><a href="Calculation.html">Calculation</a></li>  -->
			 <!-- <li><a href="contactinformation.html">Contact information</a></li>   -->
	
		<li>	<a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
		<li> <a href="https://github.com/" class="fa fa-github"></a></li>
		<li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
		<li><a href="https://bitbucket.org/" class="fa fa-bitbucket"></a></li>
		
	  </ul> 
			</div>	  </nav>
			</div> 
	
		
			
<div class="col-md-4"> 		
	<div class="first">
       <h2>Current</h2>
        	<p>I am newly admitted member of the spring 2018 and pursing  Masters from the branch of  Applied Computer Science.</p></div></div>
				
         
    <div class="col-md-4">       
	
          <h2>Background</h2>    
           
          <p> I completed my Bachelors degree from Gitam University Hyderabad from the branch Computer Science in the year 2017.
                Pursued my Intermediate from Sr druva junior college
                Completed my schooling from Aryabhatta concept school
			 </p>
		</div>
	
<div class="col-md-4">
        
           <h2>Hometown </h2>  
              
             
                <p>I am from Hyderabad in India.</p>
                </div>

                <div class="col-md-4">
             <h2>Plans</h2>
      
       <p>I would like to see my self as a Software Developer as i am interested  in developing web applications.</p>
            </div>

            <div class="col-md-4">
                <h2>Tech interests</h2> 
                    <ul>
                    <li>Java</li>
                    <li>Dbms</li>
                    <li>web technologies</li></ul>
</div>

                    <div class="col-md-4">
						
							 <h2>Hobbies</h2>
	<p class="p">My hobbies are playing cricket and watching movies.</p>
	
	</div>
	 <div class="col-md-4">
	
		<div class="embed-container">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/D-xvlqDeXY4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>   </div>  
	</body>
</html>

<br/>
<br/>