<!-- developer - Vyshnavi Yalamareddy -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="pilot/create" class="btn btn-primary new">
        Create a new pilot
      </a>
      <h4>Recent Pilot entries</h4>
      <p>There are
        <%= pilots.query.length %> pilots.
      </p>
      <table class="table table-light">
        <thead>
          <td>ID</td>
          <td>Last Name</td>
          <td>First Name</td>
          <td>Flying time (hours)</td>
          <td>Is on Duty?</td>
          <td>Further Details</td>
        </thead>
        <% for (var i = pilots.query.length-1; i >= 0; i--) {   
          pilot = pilots.query[i];   %>
          <tr>
            <td>
              <%=  pilot._id %>
            </td>
            <td>
              <%=pilot.lastName%>
            </td>
            <td>
              <%=pilot.firstName%>
            </td>
            <td>
              <%=pilot.hoursFlown%>
            </td>
            <td>
              <%=pilot.isCurrent%>
            </td>
            <td>
              <a href="/pilot/delete/<%= pilot._id  %>" class="btn btn-danger"> Delete </a>
              <a href="/pilot/details/<%= pilot._id %>" class="btn btn-info"> Details </a>
              <a href="/pilot/edit/<%= pilot._id %>" class="btn btn-warning"> Edit </a>
            </td>
          </tr>


    </div>
  </div>
  <% } %>
    </table>
</div>
</div>
</div>