<!-- developer - Vyshnavi Yalamareddy -->
<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="<%= pilot.firstName %>">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="<%= pilot.lastName %>">
    </div>

    <div class="form-group">
      <label for="hoursFlown">Flying time</label>
      <input onchange="onhoursFlownChange()" type="number" class="form-control" id="hoursFlown" name="hoursFlown" value="<%= pilot.hoursFlown %>" required>
    </div>
  </div>
  <div class="form-group">
    <label for="isCurrent">Is Current</label>
    <input type="text" class="form-control" id="isCurrent" name="isCurrent" value="<%= pilot.isCurrent %>">
  </div>
  </div>
  </div>
</div>
<hr>