<br/>
<br/>
<h1>Vyshnavi Yalamareddy </h1>

<p>I am a new student of the spring 2018 batch for Masters in Applied Computer Science.</p>

<p>I am from India. I had done my Bachelors from Jawaharlal Nehru Technological University with 73% in the year 2017 in 
the stream of Electronics and Communication Engineering.</p>

<p>I want to see myself as a software developer.</p>

<p>I am very much interested in the areas of UI and Mobile Application Development.</p>

<p>I like Reading Books and cooking food.</p>

<br/>
<br/>