<!-- developer - Vikram Reddy  Kasireddy -->
<br/>
<br/>
<h2>Confirm deletion of flight</h2>
<br/>
<br/> 
ID:
<%=  flight._id %>
  <br> 
  name :
  <%=flight.name%>
    <br/> 
    <br>startingPoint:
    <%=flight.startingPoint%>
      <br/> 
      <br>
endingPoint:
      <%=flight.endingPoint%>
        <br/>
        <br>
        durationHours :
      <%=flight.durationHours%>
        <br/>
        <br>
        pilotId :
      <%=flight.pilotId%>
        <br/>
        <br>
        planeId :
      <%=flight.planeId%>
        <br/>
</div>
          <br/>
            <br/>

            <form method="get" action="/flight">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/flight/delete/<%= flight._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>