<!-- developer - Vikram Reddy Kasireddy -->
<br/>
<br/>
<h2>flight details</h2>
<br/>
<br/> 
ID:
<%=  flight._id %>
  <br> 
  name :
  <%=flight.name%>
    <br/> 
    <br>startingPoint:
    <%=flight.startingPoint%>
      <br/> 
      <br>
endingPoint:
      <%=flight.endingPoint%>
        <br/>
        <br>
        durationHours :
      <%=flight.durationHours%>
        <br/>
        <br>
        flight.pilotId :
      <%=pilotId%>
        <br/>
        <br>
        planeId :
      <%=flight.planeId%>
        <br/>
        
          
            <br/>
            <br/>
            <form method="get" action="/flight">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>