<div>

<br/>
<br/>
<br/>
<h1>Vikram Reddy Kasireddy
    </h1>
<img  src="../../images/vik.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">

      
<div class= "col-md-8">
  <h1>About Me</h1>
  <h4>EDUCATION</h4>      
  <p>persuing masters in applied computer sceince at NorthWest Missouri State University.</p>
  <h4>INTERESTS</h4>
  <p>I prefer Travelling in My free Time.</p>
  <h4>CONTACT ME</h4> 
  <p>Reach me at kassiereddie@gmail.com</p> 
  <h4>SKILLS</h4> 
  <p>Good at playing cricket</p> 
  
</div>
<br><br>
</div>
      
   
	
	>
</div>


  

</body>
</html>


<br/>
<br/>