<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div>
        <h2>pilot Statistics</h2>
    </div>
    <%
    
    var max=0;
    var min = 0;
    var sum = 0;
    var avg = 0;
    pilot = pilots.query[pilots.query.length-1];
    min = pilot.hoursFlown;
    max = pilot.hoursFlown;
    for (var i = pilots.query.length-1; i >= 0; i--) {   
        pilot = pilots.query[i];
        if(pilot.hoursFlown < min){
            min = pilot.hoursFlown;
        }
        if(max <= pilot.hoursFlown){
            max = pilot.hoursFlown;
        }      
    } 
    for(var j = pilots.query.length-1; j >= 0 ; j--){
        pilot = pilots.query[j];
        sum += pilot.hoursFlown;
    }
    avg = sum/pilots.query.length;
    %>
    <div>
        <table class="table table-dark">
            <tr>
                <th scope="row">Mean</th>
                <td> <%= avg %> </td>
            </tr>
            <tr>
                <th scope="row">Maximum</th>
                <td> <%= max %> </td>
            </tr>
            <tr>
                <th scope="row">Minimun</th>
                <td> <%= min %> </td>
            </tr>
        </table>
    </div>

</div>
</div>
</div>