<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div>
        <h1>Fuel capacity of Plane Statistics</h1>
    </div>
    
    <%
    var max=0;
    var min = 0;
    var sum = 0;
    var avg = 0;
    plane = planes.query[planes.query.length-1];
    min = plane.TotalCapacity;
    max = plane.TotalCapacity;
    for (var i = planes.query.length-1; i >= 0; i--) {   
        plane = planes.query[i];
        if(plane.TotalCapacity < min){
            min = plane.TotalCapacity;
        }
        if(max <= plane.TotalCapacity){
            max = plane.TotalCapacity;
        }
        sum += plane.TotalCapacity;       
    } 
    avg = sum/planes.query.length;
    
    %>
    <style>
        table, th, td {
            border: 1px solid rgb(0, 0, 0);
        }
        </style>
        <div>
            <table style="width: 20%">
                <tr>
                    <th scope="row">Mean: &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <%= avg %> </th>
                </tr>
                <tr>
                    <th scope="row">Maximum: &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                     <%= max %> </th>
                </tr>
                <tr>
                    <th scope="row">Minimum: &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <%= min %> </th>
                </tr>
            </table>
        </div>
</div>
</div>
</div>