<!--Developer Nithin Sallagonda-->
<br/>
<br/>
<h2>plane details</h2>
<br/>
<br/> ID:
<%=  plane._id %>
  <br> Plane Number:
  <%=plane.PlaneNumber%>
    <br/> NoofSeats:
    <%=plane.noofSeats%>
      <br/> Total Capacity:
      <%=plane.TotalCapacity%>
        <br/>
        <br/>
            <form method="get" action="/plane">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>