<!--Developer Nithin Sallagonda-->
<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="PlaneNumber">PlaneNumber</label>
      <input type="text" class="form-control" id="PlaneNumber" name="PlaneNumber" value="<%= plane.PlaneNumber %>" required>
    </div>
    <div class="form-group">
      <label for="NoofSeats">NoofSeats</label>
      <input type="text" class="form-control" id="NoofSeats" name="NoofSeats" value="<%= plane.NoofSeats %>">
    </div>
    <div class="form-group">
      <label for="TotalCapacity">TotalCapacity</label>
      <input type="text" class="form-control" id="TotalCapacity" name="TotalCapacity" value="<%= plane.TotalCapacity %>">
    </div>
  </div>
</div>
<hr>
<br/>
<br/>

