<br/>
<br/>
<br/>
<h1>Vyshnavi Yalamareddy</h1>

    <div class = "col-md-4"><img src = "../../images/reddy.jpg" class="img-circle"  height=200 width=200></div>
    
    <section>
        <div class ="col-md-8">
        <h2>CONTACT</h2>
        
        <h4>CURRENT</h4>
    <p>I am a new student of the spring 2018 batch for Masters in Applied Computer Science.</p>
   
    
    <h4>BACKGROUND</h4>
    <p>I am from India. I had done my Bachelors from Jawaharlal Nehru Technological University with 73% in the year 2017 in 
    the stream of Electronics and Communication Engineering.</p>


    <h4>PLANS</h4>
    <p>I want to see myself as a software developer.</p>


    
    <h4>INTERESTS</h4>
    <p>I am very much interested in the areas of UI and Mobile Application Development.</p>
    

    <h4>HOBBIES</h4>
    <p>I like Reading Books and cooking food.</p>
    
   
</section>
</div>
<br/>
<br/>
<br/>